@import url("theme/gtkwidget.theme");
@import url("theme/gtkdialogs.theme");
@import url("theme/gtkmenubar.theme");
@import url("theme/gtkmenu.theme");
@import url("theme/gtkstatusbar.theme");
@import url("theme/gtktoolbar.theme");
@import url("theme/gtkframe.theme");
@import url("theme/gtknotebook.theme");
@import url("theme/gtktreeview.theme");
@import url("theme/gtkiconview.theme");
@import url("theme/gtkentry.theme");
@import url("theme/gtkbutton.theme");
@import url("theme/gtkspinbutton.theme");
@import url("theme/gtkscrollbar.theme");
@import url("theme/gtkscale.theme");
@import url("theme/gtkcheckbutton.theme");
@import url("theme/gtkswitch.theme");
@import url("theme/gtkpaned.theme");
@import url("theme/gtkprogressbar.theme");
@import url("theme/gtkinfobar.theme");
@import url("theme/gtktooltip.theme");
/*@import url("theme/gtkcellrendererprogress.theme");
@import url("theme/fixes.theme");*/
